.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  /* min-height:200px; */
}

.ql-editor {
  height: 100%;
  flex: 1;
  /* min-height:200px; */
  overflow-y: auto;
  width: 100%;
}
