.step-item {
  @apply relative flex flex-col justify-center items-center;
}

.step-item:not(:first-child)::before {
  @apply content-[''] bg-slate-200 absolute w-[65px] h-[3px] right-2/4 top-1/3 -translate-y-1/4;
}

/* .step-item:not(:first-child)::before{
    @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-3/4 top-1/3 -translate-y-1/4;
} */

.step {
  @apply w-8 h-8 flex justify-center items-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}

.active .step {
  @apply bg-purple-700;
}
/* .complete .step{
    @apply bg-green-600;
} */

.complete p {
  @apply text-slate-700;
}
