ul li::before {
    content: " ";
    display: inline-block; 
    width: 8px;
    height: 6px;
    
    border-radius: 50%;
    background-color: rgba(222, 133, 53, 0.5);
    margin-right: 4px;
  }
  