/*.main-template{
  transform: "scale(0.69)"; margin-top: "-150px"; margin-left: "-100px"
}*/
.template-button:hover svg path {
  fill: white;
}
ul .list-item::before,
.listItem::before,
.heading::before {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(222, 133, 53, 0.5);
  margin-right: 7px;
}
.list-item-D3::before {
  background-color: #025794;
  content: " ";
  display: inline-block;
  width: 8px;
  height: 6px;
  border-radius: 50%;
  margin-right: 7px;
}

.heading-D3::before,
.heading-D1::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 9px;
  border-radius: 50%;
  background-color: #025794;
  margin-right: 7px;
}
.heading-S1::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(99, 133, 255);
  margin-right: 7px;
}
.heading-S2::before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gold;
  margin-right: 7px;
}
.listItem::before,
.heading::before {
  margin-right: 10px;
}
.skill::before {
  content: " ";
  display: inline-block;
  width: 150px;
  height: 15px;
  border-color: rgba(222, 133, 53, 0.5);
  border-width: 2px;
  margin-right: 15px;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (min-width: 300px) {
  .main-template {
    transform: scale(0.3);
    position: relative;
    right: 250px;
    bottom: 300px;
    height: 1000px;
    max-height: 1000px;
    overflow: auto;
  }
}
@media screen and (min-width: 375px) {
  .main-template {
     transform: scale(0.3);
    right: 230px;
    bottom: 300px;
  }
}
@media screen and (min-width: 425px) {
  .main-template {
     transform: scale(0.3);
    right: 200px;
    bottom: 300px;
  }
}
@media screen and (min-width: 768px) {
  .main-template {
     transform: scale(0.3);
    
    right: 280px;
  }
}
